<header>
	<div class="header_container">
		<div class="icons_container">
			<a href="/movies"><img src="/images/movie_night.svg" alt="" /></a>

			<div>
				<a href="/movies/new">
					<button class="cicular_button positive">Add Movie</button>
				</a>

				<a href="/movies/logout"
					><button class="cicular_button negative">logout</button></a
				>
			</div>
		</div>
	</div>
</header>
