<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>List of movies</h1>
		<a href="/movies/new">Create New</a>
		<div class="container">
			<% movies.forEach( movie => { %>
			<a href="/movies/<%= movie.id %>">
				<h2>🎬 <%= movie.title %></h2>
			</a>
			<%})%>
		</div>
	</body>
</html>
