<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Register</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="login_form_container">
			<h1>Register</h1>
			<div class="login_container">
				<form action="/user/register" method="POST">
					<label for="Name">Name</label>
					<input type="text" name="name" />
					<label for="Email">Email</label>
					<input type="email" name="email" />
					<label for="password">Password</label>
					<input type="password" name="password" />
					<input class="submit_button" type="submit" value="Submit" />
					<a href="/user">Login</a>
				</form>
			</div>
		</div>
	</body>
</html>
