/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// Custom CSS ------------------
body {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
}
a {
	text-decoration: none;
}
.header_container {
	width: 100%;
	// border-bottom: 2px solid #009688;
	.icons_container {
		width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px 0;
		img {
			height: 50px;
		}
		a {
			button {
				cursor: pointer;
				outline: none;
				font-size: 14px;
				padding: 12px 24px;
				border: none;
				border-radius: 1.5rem;
				color: rgb(255, 255, 255);
				background-color: #009688;
			}
		}
	}
}
main {
	.display_container {
		padding: 30px 0;
		width: 90%;
		margin: 0 auto;
		.movie_container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			a {
				width: 21%;
				.container {
					color: #009688;
					font-size: 0;
					border: none;
					padding-bottom: 20px;
					img {
						box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.171);
						width: 100%;
						border-radius: 8px;
						height: 350px;
						transition: transform 0.25s
							cubic-bezier(0.33, 0.04, 0.63, 0.93);
					}
					img:hover {
						transform: scale(1.1);
					}
					h2 {
						margin-top: 30px;
						text-align: center;
						font-size: 1.2rem;
						font-weight: 600;
					}
				}
			}
		}
	}
}
.form_container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	.container {
		padding: 1rem;
		border: 4px solid #009688;
		border-radius: 1.5rem;
		display: flex;
		form {
			display: flex;
			justify-content: space-evenly;
			.col {
				padding: 2rem;
				label {
					display: block;
					font-weight: 600;
					font-size: 1rem;
					color: rgb(128, 128, 128);
				}
				input,
				textarea {
					display: block;
					padding: 0.6rem 1rem;
					border: none;
					outline: none;
					margin-top: 0.5rem;
					margin-bottom: 1.5rem;
					border-bottom: 1px solid #ccc;
					font-size: 1rem;
					width: 250px;
				}
				input:focus {
					border-bottom: 1.5px solid #009688;
				}
				.submit_button {
					padding: 0.8rem 1.5rem;
					cursor: pointer;
					background-color: #009688;
					width: fit-content;
					color: #fff;
					border-radius: 6px;
				}
			}
		}
	}
}
// a {
// 	color: #415057;
// 	text-decoration: none;
// }
// a:hover {
// 	color: #91aeb6;
// }
// label {
// 	display: block;
// 	font-size: 18px;
// }
// input {
// 	padding: 0.5rem 8px;
// 	font-size: 1rem;
// 	outline: none;
// 	width: 300px;
// 	border: 1px solid #ccc;
// 	border-radius: 4px;
// 	display: block;
// 	margin: 1rem 0;
// }
// // button {
// // 	padding: 8px 12px;
// // 	background-color: #60cef0;
// // 	border: none;
// // 	border-radius: 4px;
// // 	font-size: 14px;
// // 	margin-right: 10px;
// // 	cursor: pointer;
// // 	outline: none;
// // }
// .submit_button {
// 	padding: 8px 12px;
// 	cursor: pointer;
// 	width: fit-content;
// }
// textarea {
// 	padding: 0.5rem 8px;
// 	font-size: 1rem;
// 	outline: none;
// 	width: 300px;
// 	border: 1px solid #ccc;
// 	border-radius: 4px;
// 	display: block;
// 	margin: 1rem 0;
// }
// .button_contianer {
// 	margin-top: 15px;
// }
// .genre,
// .casts {
// 	margin-top: 12px;
// }
// .genre_title,
// .casts_title {
// 	color: #0d0d0e;
// 	font-weight: bolder;
// }
// .movie_poster {
// 	width: 400px;
// }
// img {
// 	width: 100%;
// 	height: auto;
// }
.detailmovie-container {
	display: flex;
	margin: 5rem;
	justify-content: space-evenly;
	.movie_poster {
		font-size: 0;
		width: 30%;
		.movie-img {
			width: 300px;
		}
	}
	.movie_info {
		width: 60%;
		.title {
			font-size: 2rem;
			text-transform: uppercase;
			color: #009688;
			margin: 2rem 0;
		}
		h3 {
			font-size: 1.2rem;
			margin: 1.5rem 0;
		}
		.synopsis {
			font-size: 1rem;
			line-height: 1.5;
			margin: 1rem 0;
			color: rgb(124, 124, 124);
		}
		.release-date {
			font-style: italic;
			margin: 1.5rem 0;
			color: rgb(124, 124, 124);
		}
		.rating {
			margin: 1.5rem 0;
		}
		.sub_title {
			margin: 0.8rem 0;
			color: #009688;
		}
		.eachCast {
			margin: 0.5rem;
			line-height: 2;
		}
		.button_contianer {
			margin: 3rem 0;
			display: flex;
			justify-content: space-between;
			a {
				button {
					cursor: pointer;
					outline: none;
					font-size: 1rem;
					letter-spacing: 0.8px;
					padding: 10px 24px;
					border: none;
					border-radius: 1.5rem;
					color: rgb(255, 255, 255);
					background-color: #009688;
				}
			}
		}
		.comment_container {
			width: 90%;
			padding: 20px;
			background-color: rgb(243, 243, 243);
			border-radius: 6px;
			form {
				input {
					display: block;
					padding: 0.6rem 1rem;
					border: none;
					outline: none;
					margin-top: 0.5rem;
					margin-bottom: 1.5rem;
					border-bottom: 1px solid #ccc;
					font-size: 1rem;
					width: 80%;
					background-color: transparent;
				}
				.submit_button {
					padding: 0.5rem 1rem;
					cursor: pointer;
					background-color: #1f1f1f;
					width: fit-content;
					color: #fff;
					border-radius: 20px;
				}
			}
			p {
				font-size: 1.2rem;
				padding: 1.3rem 0;
				padding-left: 1.5rem;
			}
		}
	}
}
