/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.header_container {
  width: 100%;
}

.header_container .icons_container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
}

.header_container .icons_container img {
  height: 50px;
}

.header_container .icons_container a button {
  cursor: pointer;
  outline: none;
  font-size: 14px;
  padding: 12px 24px;
  border: none;
  border-radius: 1.5rem;
  color: white;
  background-color: #009688;
}

main .display_container {
  padding: 30px 0;
  width: 90%;
  margin: 0 auto;
}

main .display_container .movie_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .display_container .movie_container a {
  width: 21%;
}

main .display_container .movie_container a .container {
  color: #009688;
  font-size: 0;
  border: none;
  padding-bottom: 20px;
}

main .display_container .movie_container a .container img {
  -webkit-box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.171);
          box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.171);
  width: 100%;
  border-radius: 8px;
  height: 350px;
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  transition: -webkit-transform 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  transition: transform 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  transition: transform 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93), -webkit-transform 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
}

main .display_container .movie_container a .container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .display_container .movie_container a .container h2 {
  margin-top: 30px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.form_container .container {
  padding: 1rem;
  border: 4px solid #009688;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form_container .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.form_container .container form .col {
  padding: 2rem;
}

.form_container label {
  display: block;
  font-weight: 600;
  font-size: 1rem;
  color: gray;
}

.form_container input,
.form_container textarea {
  display: block;
  padding: 0.6rem 1rem;
  border: none;
  outline: none;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
  width: 250px;
}

.form_container input:focus {
  border-bottom: 1.5px solid #009688;
}

.form_container .submit_button {
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  background-color: #009688;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  border-radius: 6px;
}

.detailmovie-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.detailmovie-container .movie_poster {
  font-size: 0;
  width: 30%;
}

.detailmovie-container .movie_poster .movie-img {
  width: 300px;
}

.detailmovie-container .movie_info {
  width: 60%;
}

.detailmovie-container .movie_info .title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #009688;
  margin: 2rem 0;
}

.detailmovie-container .movie_info h3 {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.detailmovie-container .movie_info .synopsis {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0;
  color: #7c7c7c;
}

.detailmovie-container .movie_info .release-date {
  font-style: italic;
  margin: 1.5rem 0;
  color: #7c7c7c;
}

.detailmovie-container .movie_info .rating {
  margin: 1.5rem 0;
}

.detailmovie-container .movie_info .sub_title {
  margin: 0.8rem 0;
  color: #009688;
}

.detailmovie-container .movie_info .eachCast {
  margin: 0.5rem;
  line-height: 2;
}

.detailmovie-container .movie_info .button_contianer {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detailmovie-container .movie_info .button_contianer a button {
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  letter-spacing: 0.8px;
  padding: 10px 24px;
  border: none;
  border-radius: 1.5rem;
  color: white;
  background-color: #009688;
}

.detailmovie-container .movie_info .comment_container {
  width: 90%;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 6px;
}

.detailmovie-container .movie_info .comment_container form input {
  display: block;
  padding: 0.6rem 1rem;
  border: none;
  outline: none;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
  width: 80%;
  background-color: transparent;
}

.detailmovie-container .movie_info .comment_container form .submit_button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #1f1f1f;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  border-radius: 20px;
}

.detailmovie-container .movie_info .comment_container p {
  font-size: 1.2rem;
  padding: 1.3rem 0;
  padding-left: 1.5rem;
}
/*# sourceMappingURL=style.css.map */